.wallectIcon {
  display: flex;
  flex-direction: row;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #00f;
  cursor: pointer;
}

.connect_icon {
  width: 20px;
  height: 20px;
}

.wallect_address {
  margin-left: 8px;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
}